[2020-02-10 11:17] Hokwang opened #1 "how about merge to official repo"
Hello.

Today I know your helm charts because of nexus helm chart issue from sonatype.

Here's my opinion.
1. How about merge your nexus charts to offical helm chart repo (https://github.com/helm/charts/tree/master/stable/sonatype-nexus) ?
2. there's no jira/confluence chart in official helm chart repo.
How about push your jira/confluence chart to that?

Thanks,

[2020-02-10 11:23] stevehipwell commented on #1
@Hokwang thank you for getting in contact. Firstly my *Nexus 3* helm chart would be a breaking change to the one currently in the **stable** repo; if it was even merged (see next point). Secondly the official *Helm* chart repo is no longer taking new chart submissions and will be [deprecated](https://github.com/helm/charts#deprecation-timeline) in May. There is more information there about how the

[2020-02-10 11:23] #1 closed

[2020-03-19 23:28] infinytum opened #7 "Installing JIRA with postgres fails on kubernetes 1.16"
I'd like to report a bug regarding your JIRA chart, specifically its integrated postgres chart.

On Kubernetes 1.16, the Kind "Deployment" and many more have been moved from extensions/v1beta1 to apps/v1 . Your chart is updated properly, but the postgres dependecy is not.

Without the postgres enabled, the chart works fine though!

[2020-03-20 09:03] stevehipwell commented on #7
Until recently Jira & Confluence were only supported on versions of PostgreSQL up to v9.6 (although Jira would run on v10) so I targeted my charts against the latest Helm chart for v9.6 which was v1.0.0. This postgresql chart uses an API version not supported on K8s v1.16.

Both Jira and Confluence now support the use of PostgreSQL v10 so I'll bump the postgresql chart to v4.2.2, which is the late

[2020-03-20 09:03] stevehipwell commented on #7
PR https://github.com/stevehipwell/helm-charts/pull/8

[2020-03-20 09:34] #7 closed

[2020-06-02 09:09] phenri00 opened #23 "Confluence - Add parameter in CATALINA_OPTS"
Need to add following parameter in CATALINA_OPTS:

"-Dofficeconnector.spreadsheet.xlsxmaxsize=134217728"

Do I modify the deployment file for JVM_SUPPORT_RECOMMENDED_ARGS? Or is there a better way to do this?

Im having following issue:

https://confluence.atlassian.com/confkb/viewing-excel-error-with-the-message-error-rendering-macro-viewxls-com-benryan-conversion-conversionexception-com-benryan-

[2020-06-03 08:06] stevehipwell commented on #23
@phenri00 I've added the ability to specify `envVars.opts` in #25 which should allow you to add your custom setting.

[2020-06-03 08:06] #23 closed

[2020-06-03 08:47] phenri00 commented on #23
Good stuff! Thank you for the work.

[2020-07-01 03:31] Karl-br opened #35 "Meet error when deploy confluence-server on openshift"
Hi Team

helm install my-release stable/confluence-server
when i use the command to deploy confluence on Openshift 4.4 i meet CrashLoopBackOff error.
here is the log

INFO:root:Generating /opt/atlassian/confluence/conf/server.xml from template server.xml.j2
INFO:root:Generating /opt/atlassian/confluence/confluence/WEB-INF/classes/seraph-config.xml from template seraph-config.xml.j2
INFO:root:Gener

[2020-07-01 07:30] phenri00 commented on #35
Default policy for Openshift is to block RunAsAny, meaning running as root is not allowed. Could that be the issue?

[2020-07-01 09:04] Karl-br commented on #35
OK so the namespace=confluence-test.And also i have already run the command
oc adm policy add-scc-to-user privileged -n confluence-test -z default
But it not work.

[2020-07-01 18:09] stevehipwell commented on #35
@Karl-br I've not run this chart on Openshift. I would suggest that you reach out to Atlassian to confirm that their docker image is Openshift compatible. If it is I'll take a look at the chart to make sure it's using the correct security settings.

[2020-07-03 08:54] stevehipwell commented on #35
@Karl-br you probably want to take a look at the Shared directory and user IDs section on the [Confluence Docker image](https://hub.docker.com/r/atlassian/confluence-server/) docs. You can currently modify the pod security context through the `securityContext` variable but I'm looking at modernising these charts so they will also support a separate security context for the primary container.

[2020-07-14 15:08] Jasper-Ben opened #44 "Nexus3: Automated Setup fails"
Chart version: nexus3-2.5.1

helm_values.yaml:

[code]

leads to error during script configuration phase:

[code]

My first asumption was, that this might be due to https://issues.sonatype.org/browse/NEXUS-23205, however as seen in the values.yaml, I manually enabled scripts with the properties settings.

[2020-07-14 15:15] Jasper-Ben commented on #44
It seems the properties are not correctly added to the properties file:

[code]

[2020-07-14 15:17] Jasper-Ben commented on #44
nvm. overlooked the breaking changes on the properties settings :smile:

[2020-07-14 15:30] Jasper-Ben commented on #44
Hmm... I'm still struggling with the script settings however (log attached). Will take a closer look tomorrow.

[nexus.log](https://github.com/stevehipwell/helm-charts/files/4919681/nexus.log)

[2020-07-15 07:43] stevehipwell commented on #44
@Jasper-Ben this should be resolved in the next release. I wrote this chart for a specific use and although I've tried to make it work correctly there are cases when it's not used as we use it (including the various upgrades, which is why we've never had an `etc` issue due to the file system from earlier chart versions) that need resolving.

[2020-07-15 11:41] Jasper-Ben commented on #44
@stevehipwell I am currently recreating the persistent volume on each try, so existing etc directories should not be at fault here.
It seems that not having a LDAP configured (ldap.enabled=false) does not work with the current `configure.sh` script, as it still tries to run the `ldap.groovy` script.

[code]

 with following `ldap.json` settings:

[code]

[2020-07-15 11:43] Jasper-Ben commented on #44
I just saw you released a new version. Will try it now.

[2020-07-15 12:00] Jasper-Ben commented on #44
The LDAP problem seems to be fixed in the latest release. The new error is:

`2020-07-15 11:53:04,724+0000 ERROR [qtp1378315085-41] admin org.sonatype.nexus.script.plugin.internal.rest.ScriptResource - Exception in script execution for script named: cleanup

javax.script.ScriptException: javax.script.ScriptException: com.orientechnologies.orient.core.exception.OValidationException: The field 'clea

[2020-07-15 12:11] Jasper-Ben commented on #44
The LDAP part seems to work now. However, now I am running into an issue with the cleanup script:

[code]

[2020-07-15 13:08] stevehipwell commented on #44
@Jasper-Ben what does you current values.yaml file look like?

[2020-07-15 13:19] Jasper-Ben commented on #44
[code]

[2020-07-15 13:41] stevehipwell commented on #44
@Jasper-Ben try the latest `v2.5.3` release. There was a regression in the default values that provided repos, cleanups and tasks; you've turned on the config so are getting a yaml merge of your values and the incorrect default ones.

[2020-07-15 13:59] Jasper-Ben commented on #44
@stevehipwell Looking good so far! :+1: Will do some more configuring over the next couple of days. If I notice any issues I will open a new issue and/or pull request. Thanks for your awesome help so far, highly appreciated! :smiley:

[2020-07-15 13:59] #44 closed

[2020-07-22 09:41] qiang93 opened #49 "traefik proxy confluence 500 error"
Hi,
   Applying your default confluence helm configure will cause 500 errors after entering database connection information

traefik logs:
`{"BackendName":"www.tt.ai/","ClientHost":"10.233.70.0","DownstreamStatus":500,"Duration":1106302817,"OriginDuration":1105784036,"OriginStatus":500,"Overhead":518781,"RequestContentSize":0,"RequestHost":"www.tt.ai","RequestMethod":"GET","RequestPath":"/setup/se

[2020-07-22 10:54] stevehipwell commented on #49
Hi @qiang93 I'd need a bit more information about what custom values you pass into the chart as the default config is currently passing CI tests. Could you also rename this issue to reflect the actual issue you're having which seems to be database related and not related to Traefik.

[2020-07-22 14:30] Jasper-Ben opened #50 "Nexus3: Unable to import custom CAs"
I am trying to import custom CAs into the Nexus3 Trust Store.
For this I set caCerts.secret according to a Kubernetes secret, containing multiple CA.crts.
Applying the settings causes an [error](https://github.com/stevehipwell/helm-charts/files/4960583/error.log). From looking at the deployment.yaml, my first guess would be, that the parent `node` folder does not exist.

[2020-07-22 20:27] stevehipwell commented on #50
@Jasper-Ben could you show what values you're using and the structure of the secret?

[2020-07-23 01:40] qiang93 commented on #49
Thanks for your quick response. The installation process of accessing Confluence through NodePort went smoothly, so there is reason to suspect that the application of Traefik caused a proxy error

Env:
`
        JVM_MINIMUM_MEMORY: "2G"
        JVM_MAXIMUM_MEMORY: "4G"
        JVM_SUPPORT_RECOMMENDED_ARGS: "-Dsynchrony.memory.max=2g"
        ATL_PROXY_NAME: "www.tt.ai"
        ATL_PROXY_PORT: "80"

[2020-07-23 02:55] qiang93 commented on #49
Repeat steps：change default valules.yaml

ingress:
  enabled: true
  annotations:
     kubernetes.io/ingress.class: traefik
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - www.tt.ai
  tls: []
    # - secretName: confluence-local-tls
    #   hosts:
    #     - confluence.local

[2020-07-23 04:06] qiang93 commented on #49
Problem solved。

Just letting confluence recreate entire tables again after removing existing confluence-cfg.xml should work next time

[2020-07-23 07:59] Jasper-Ben commented on #50
Hi @stevehipwell,
the secret looks like this:
[code]

[2020-07-23 08:25] stevehipwell commented on #49
@qiang93 it looks like this is no longer an issue so I'm going to close this.

[2020-07-23 08:25] #49 closed

[2020-07-23 08:29] stevehipwell commented on #50
@Jasper-Ben could you add the full logs from the _ca-certs_ init container? I suspect it's something to do with the file system bug that I fixed and can probably be fixed by swapping the init container order.

[2020-07-23 09:24] Jasper-Ben commented on #50
@stevehipwell the ca-certs container's log only contains
[code]

[2020-07-23 14:29] stevehipwell commented on #50
@Jasper-Ben do you want to try the latest release?

[2020-07-23 14:38] Jasper-Ben commented on #50
@stevehipwell Unfortunately still [errors](https://github.com/stevehipwell/helm-charts/files/4966684/error.log) :disappointed:

[2020-07-23 14:44] Jasper-Ben commented on #50
just in case: here is my current [values.yml](https://github.com/stevehipwell/helm-charts/files/4966732/helm_values.txt). Hope it helps

[2020-07-23 15:58] stevehipwell commented on #50
Could you try again?

[2020-07-23 16:13] Jasper-Ben commented on #50
@stevehipwell Nice! That seems to have done the trick on the CA front. However, now I'm back to [LDAP issues](https://github.com/stevehipwell/helm-charts/files/4967372/error.log)... I assume `groupIdAttribute` should not fail, as I have `mapGroupAsRolesType` set to "dynamic"?

[2020-07-23 16:23] #50 closed

[2020-07-24 07:05] Jasper-Ben opened #53 "Nexus3: Adapt groovy scripts for newer Nexus3 Releases"
There have been some changes within the Nexus3 codebase, causing some of the groovy scripts not to work.
So far, I was able to confirm that repo.groovy and cleanup.groovy do not work.

![repo.groovy](https://user-images.githubusercontent.com/12223583/88367193-6e209a00-cd8b-11ea-8d5e-5908df7a9252.png)

![cleanup.groovy](https://user-images.githubusercontent.com/12223583/88367148-577a4300-cd8b-11ea-

[2020-07-24 07:17] stevehipwell commented on #53
@Jasper-Ben I wasn't aware that the scripts were no longer working but I've been gradually upgrading to the REST API where possible. I've got a branch locally that replaces everything but cleanup, which isn't supported on the API, that I could possibly get released next week (I was holding off for v3.25 to see if cleanup was added). I should probably add a ticket to Nexus3 for a cleanup API.

[2020-07-24 07:33] Jasper-Ben commented on #53
@stevehipwell delivers again! :wink: Sounds great! Please feel free to point me towards any work that is still left to be done. I already feel guilty for showering you with all the issues popping up :laughing:

[2020-07-24 07:37] stevehipwell commented on #53
No worries @Jasper-Ben, thank you for your help testing the changes! I did offer to donate my chart to Sonatype but they never got back to me and after the work I've done to make it work for others I think I'll keep maintaining it myself (they can always fork it).

[2020-07-27 11:17] stevehipwell commented on #53
FYI @Jasper-Ben [REST for cleanup policies](https://issues.sonatype.org/browse/NEXUS-17671).

[2020-07-28 07:30] lwsanty opened #55 "[jira-software] k8s API error"
helm 3
gke 1.16.9-gke.6

[code]

[2020-07-28 14:36] stevehipwell commented on #55
@lwsanty please could you provide more information?

[2020-07-28 15:56] lwsanty commented on #55
@stevehipwell sure, according to deprecation of k8s api 1.16 https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/
[code]
so the chart installation will be failing for k8s api 1.16 unless correct api versions will be handled on the chart level.

[2020-07-28 16:02] lwsanty commented on #55
forgot to mention the chart name, `jira-software`

and now I see that it is related to postgres subchart

then not a bug, sorry

[2020-07-28 16:02] #55 closed

[2020-07-29 09:55] stevehipwell commented on #53
@Jasper-Ben if you want to take a look at PR https://github.com/stevehipwell/helm-charts/pull/56 which is a full refactor of the _Nexus 3_ chart. The values have changed to hopefully make the chart easier to use and I've documented more of the configuration. If you want to try it out and let me know how you get on I'll attempt to fix obvious bugs, otherwise I'll be waiting until I have more time t

[2020-07-30 07:06] Jasper-Ben commented on #53
@stevehipwell great! I will give it a try

[2020-07-30 12:43] Jasper-Ben opened #58 "Nexus3: Extend chart features"
Just a heads up on the configuration features I plan on implementing. @stevehipwell please stop me if any of them are already implemented or in the pipeline :wink:

- adding blobstores
- security roles
- remove preconfigured repositories

Additionally: Health-check for Kubernetes

[2020-07-30 13:01] Jasper-Ben commented on #58
- create proxy repositories

[2020-07-30 13:10] stevehipwell commented on #58
Roles and all types of repository are supported including proxy ones. You can deactivate default repos by setting online to false. Blobstores should be easy to configure via the API. The health check is related to metrics which are enabled as is the status.

[2020-07-30 13:22] Jasper-Ben commented on #58
I just found a reference to `.Values.config.roles` in `templates/config.yaml`, however it seems to be missing in the documentation?

[2020-07-30 13:25] stevehipwell commented on #58
@Jasper-Ben docs updated.

[2020-07-30 13:40] stevehipwell commented on #53
@Jasper-Ben should this be closed now?

[2020-07-30 13:49] #53 closed

[2020-08-05 06:56] Jasper-Ben commented on #58
Working blobstore configuration in PR https://github.com/stevehipwell/helm-charts/pull/63. Closing.

[2020-08-05 06:56] #58 closed

[2020-08-11 09:52] ikappas opened #71 "Sonatype Nexus: Add support for jvmAdditionalOptions"
Hi Steve,

And thank you for your helm repo!

In order to fix `Available CPU` warning in nexus application one would need to pass `-XX:ActiveProcessorCount=<NUMBER_OF_CORES>` to INSTALL4J_ADD_VM_PARAMS.

It would be nice to introduce `jvmAdditionalOptions` in order to facilitate passing additional parameters via INSTALL4J_ADD_VM_PARAMS.

See also:
https://stackoverflow.com/questions/56946027/nexus

[2020-08-11 10:07] stevehipwell commented on #71
Hi @ikappas, if you want to take a look at PR #72 this should solve your problem. This was an oversight on my behalf as I thought I'd already implemented this pattern for Nexus, but it looks like it was only done for Jira and Confluence.

[2020-08-11 10:11] ikappas commented on #71
@stevehipwell Looks good!

[2020-08-11 10:13] stevehipwell commented on #71
@ikappas that's been released.

https://github.com/stevehipwell/helm-charts/releases/tag/nexus3-3.1.1

[2020-08-11 10:14] #71 closed

[2020-08-11 10:32] ikappas opened #73 "Possible Ingress issue with Jira Helm Chart on Gadgets"
After installing the Jira helm chart on my lab I get `gadget.common.error.500` and `__MSG_gadget.project.title__`  displayed at the system dashboard along with a warning in Administration > System > Troubleshooting and support tools about a problem with gadget feed URL.

![image](https://user-images.githubusercontent.com/7887523/89887157-79225980-dbd6-11ea-9305-93bc9c58b52b.png)

The configuration

[2020-08-11 10:58] stevehipwell commented on #73
@ikappas have you checked back at the status? Jira usually reports this issue as well as liked applications, if you have any, after it has been restarted.

[2020-08-11 11:36] ikappas commented on #73
@stevehipwell I have restarted the application many times and the issue persists

[2020-08-11 12:56] stevehipwell commented on #73
@ikappas I'm pretty confident that there isn't a chart ingress issue as I've been running a version of this chart using https and a self-signed cert for over a year with no issues. I suggest that you look at the non proxy host arguments that you're setting on the JVM and your ingress annotations as that's something that I've not seen used. Other than that I'd suggest running Jira over http first a

[2020-08-11 12:57] stevehipwell commented on #73
@ikappas I didn't say to re-start, I said to check back at the status. You might also want to check what's happening in your browser dev tools.

[2020-08-11 12:58] ikappas commented on #73
@stevehipwell Thanks for answer. Do you think you can share a basic set of values to set the ingress with self signed certificate?

[2020-08-11 15:50] stevehipwell commented on #73
@ikappas the ingress settings on our primary chart is as follows, but please note that the ingress controller has been configured centrally and tested with a number of services. I'd still recommend you starting first with http.

[code]

[2020-08-12 12:16] #35 closed

[2020-08-17 18:37] shankar96 opened #78 "geting Issue in using helm chart for nexus"
identified at least one change, exiting with non-zero exit code (detailed-exitcode parameter enabled)

Upgrading stevehipwell/nexus3
Creating tiller namespace (if missing): kube-system
Release "nexustest" does not exist. Installing it now.

in helmfile.d/202.nexus.yaml: failed processing release nexustest: helm exited with status 1:
  Error: release nexustest failed: Ingress.extensions "nexustest-

[2020-08-17 19:01] stevehipwell commented on #78
@shankar96 you need to provide any missing ingress parameters if you enable ingress. Do you have your values for ingress to show me?

[2020-08-18 04:43] shankar96 commented on #78
@stevehipwell it was indentation issue have fixed it thanks.
Now using https://github.com/Oteemo/charts/tree/master/charts/sonatype-nexus (seems to be official one moved here)

[2020-08-18 04:43] #78 closed

[2020-08-18 06:01] stevehipwell commented on #78
@shankar96 there is no official chart, that is the chart that was previously in stable. My chart had a number of improvements, such as the ability to map multiple hosts for running Docker registries.

[2020-08-19 02:19] ozbillwang opened #79 "nexus with https"
come from [this discussion](https://issues.sonatype.org/browse/NEXUS-22146?focusedCommentId=902242&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-902242).

I'd like to confirm if your nexus helm chart support https access or not? I did quickly search, looks not.

[2020-08-19 05:58] stevehipwell commented on #79
Hi @ozbillwang, my _Nexus3_ _Helm_ chart uses a standard _Kubernetes_ ingress resource and so it does very much support HTTPS assuming you've set up your cluster to enable it.

[2020-08-19 07:04] ozbillwang commented on #79
Not sure we are on the same page, maybe I didn't express clearly.

Regarding this document (https://help.sonatype.com/repomanager3/system-configuration/configuring-ssl), mostly I'd like to enable inbound ssl on nexus server directly.

I didn't see the setting in this chart, can you point me about the keystore setup, ssl enable, etc.

[2020-08-19 11:51] stevehipwell commented on #79
@ozbillwang I'm not sure why you'd want to do this in Nexus itself? If you're using a Helm chart I'd suggest that the idiomatic way for doing HTTPS is with the ingress controller.

[2020-08-19 22:00] ozbillwang commented on #79
that's the current company policy I am working on, all ssl, even the running applications in container

[2020-08-20 06:40] stevehipwell commented on #79
@ozbillwang that sounds a strange policy when running containers in _Kubernetes_.

I assume you're familiar with the ingress controller pattern? The controller is fundamentally a container with a SSL certificate that routes requests to other cluster containers that aren't exposed out of the cluster. If you need certificates for pod to pod communication you're going to need something like a service

[2020-08-20 07:40] ozbillwang commented on #79
I totally agree with you, that's the weird requirement. But if you have chance to work for Governments or Bankings, they are asking for this to have SSL on every layer, not only https, inside containers as well.

I have to set two layers SSL, one on nginx ingress (https), the other is in Nexus itself, that would be Keystore JKS (nexus is java application)

Seems I have to add extra base on your ch

[2020-08-20 07:40] #79 closed

[2020-08-20 08:02] stevehipwell commented on #79
@ozbillwang I would suggest confirming the requirement for a cert on every container vs every pod. Idiomatic _Kubernetes_ would support every pod and you could either use a service mesh or look at running your ingress gateway as a sidecar in your _Nexus_ pod. A cert on every container just doesn't compute and would be far more effort than it was worth.

My suggestion would be to look at the functi

[2020-08-20 08:49] ozbillwang commented on #79
Thanks for the suggestion.

[2020-09-15 16:11] #73 closed

[2020-10-20 20:00] MrAmbiG opened #107 "Continuous crashloopbackoff of the jira container"
format 1
==============
values.yml

[code]
error
-------------
[code]

format 2
============
values.yml

[code]

error
-------------
[code]

[2020-10-21 06:33] stevehipwell commented on #107
Hi @MrAmbiG it'd be useful to know a bit more information about your setup such as K8s version and provider as well as a bit of information about what you're trying to achieve?

For _Format 1_ you are specifying that you wish to use the bundled [PostgreSQL](https://artifacthub.io/packages/helm/bitnami/postgresql/4.2.2) chart. Based on the error I suspect that your version of K8s is does not have t

[2020-10-21 09:07] MrAmbiG commented on #107
@stevehipwell  appreciate your response.
the version of kubernetes is 1.17.4. I Redacted the host. I will try again with some more additional settings and update you soon.

[2020-11-25 19:23] #107 closed

[2020-11-30 05:15] grumpydude opened #120 "nexus3 relies on jq which is not present in the image"
In configure.sh, as of the most recent commit to fix the repository secrets, there is now a requirement that the sonatype/nexus3 image will have 'jq' installed. However, it is not installed on the image that is maintained by sonatype. Refer the following code:

[code]

Yes, one can create a downstream image, but I suspect that's there might be other ways to deal with it using what's installed on t

[2020-11-30 11:56] stevehipwell commented on #120
@grumpydude thanks for bringing this to my attention; it should be resolved by PR https://github.com/stevehipwell/helm-charts/pull/121.

[2020-12-01 01:29] grumpydude commented on #120
Yes this works, but it's exposed an ordering issue that you have with roles and repos. If you try to create a role with a repo based privilege that doesn't exist yet, the API will respond with the following:

[code]
I can raise this as another issue.

[2020-12-01 02:53] grumpydude opened #122 "nexus3 configure.sh should configure roles after repos"
In order for a role to be created that contains a privilege for a repo, the repo must first exist. The role configuration needs to be moved after the repo configuration.

[2020-12-01 08:50] stevehipwell commented on #120
@grumpydude I'm closing this issue as resolved and we can look at configure order in https://github.com/stevehipwell/helm-charts/issues/122.

[2020-12-01 08:50] #120 closed

[2020-12-01 09:10] #122 closed

[2020-12-01 09:40] grumpydude opened #124 "Consider moving configure.sh into a postStart lifecycle command"
Hi there,

One of the disadvantages of executing the configure.sh, given that it mostly executes in the background, as one of the commands is that if it fails, there is no feedback to helm for it to be able to recognise the failure. I've experimented with a post start lifecycle command (see below), and it works well. If the command fails, helm is able to recognise the failure and roll it back. Is

[2020-12-01 11:02] stevehipwell commented on #124
@grumpydude I'd be happy to take a PR for this if you'd like to create one or I can code it later on?

[2020-12-01 22:48] grumpydude commented on #124
I can raise a PR later today. I just thought it was worth raising as a discussion point before raising a PR.

[2020-12-02 11:49] #124 closed

[2020-12-10 09:20] grumpydude opened #130 "Prune unnecessary blob stores and repos"
Is it worth adding functionality to allow for the removal of the default repos and blob stores? I thought about adding it as groovy to be run via the api, but perhaps it's better to let it be controlled by configure.sh

For example, one could add the following to the values.yaml:
[code]
And perhaps something like this to configure.sh:
[code]
If this is something that you'd consider for this, do yo

[2020-12-10 09:53] stevehipwell commented on #130
@grumpydude you can disable the built in repos by using the `online: false` key on the repo (see below); the code still looks correct although I haven't personally tested this since it was added.

[code]

For blob stores I don't want to allow the removal of these by an automated system due to the risk of a typo or yaml formatting issue causing data loss.

[2020-12-14 04:53] grumpydude commented on #130
Yes, setting online to false does work.

[2020-12-14 04:53] #130 closed

[2020-12-18 11:40] kuznetsov420 opened #136 "[sonarqube] chart templating issue"
Hello,
I've encountered a problem when tried to install Sonarqube helm-chart:
[code]
My helm version:
[code]

[2020-12-18 11:56] stevehipwell commented on #136
Hi @kuznetsov420 could you give me the values you're using so I can check the solution I've got actually works for you?

[2020-12-18 12:08] kuznetsov420 commented on #136
I guess I've found typos: https://github.com/stevehipwell/helm-charts/pull/137

[2020-12-18 12:12] kuznetsov420 commented on #136
here are my values btw:
<details>
  <summary>values.yaml</summary>

[code]
</details>

[2020-12-18 15:00] #136 closed

[2021-01-12 07:02] sodul opened #147 "Add option to set cpu and memory requests and limits for nexus"
Thank you for providing this chart, it seems to be actively maintained and provides many option to control the deployed instance of Nexus.

While not setting CPU requests or limits is mostly not a big problem with Kubernetes it is actually causing problems with memory. Pretty much when under memory pressure the containers that do not have a memory limit will be targeted first by the OOM killer.

S

[2021-01-12 07:29] sodul commented on #147
Just realized that this is taking care of this:
[code]

[2021-01-12 07:29] #147 closed

[2021-01-15 10:49] phenri00 opened #149 "Jira/Confluence support 2021?"
Effective from 2 February 2021, Atlassian will end new server licence sales and cease any new feature development for its server product line. Do you know if there still be updated(security patches) docker images from Atlassian? If yes, will you keep the helm charts up to date?

Thank you for all the work on the charts. Really appreciate them!

[2021-01-15 10:54] stevehipwell commented on #149
@phenri00 I will continue to update these charts for as long as they're able to be used. I'm not aware of Atlassian's plans around keeping the Docker image up to date but I'd like to think that they will patch for security even if there is no more proddev going on.

[2021-01-15 14:45] Yrok472 opened #151 "No ability to specify Liveness/Readiness probes timeout"
Hello :)

I'm using this jira-software chart on my local server. It's not very fast + i'm using internal database. So, sometimes pod restarts before complete initialization. I know that i can path deployment params using kubectl apply after chart deploy, but maybe you can add this options for chart. Thank you!

[2021-01-15 15:05] stevehipwell commented on #151
@Yrok472 I'm not sure I understand your query? If you're running the chart and it's slow then that is down to how you're running it and the choices you made when setting the values. For example running the chart in Kind using the built in H2 database would work but would be slow and unsuitable for anything other than testing. You need to look into the Docker image resource requirements for Jira (i

[2021-01-15 16:09] Yrok472 commented on #151
Sometimes it take more than 10 minutes to start jira and default probes timeout restart my jira many times. I want to change default count of probes tries for my installation.

[2021-01-15 17:13] stevehipwell commented on #151
@Yrok472 I understand. I've just released `v4.0.2` with dynamic probe configuration.

[2021-01-15 17:37] Yrok472 commented on #151
Thank you! I'll try to verify.

[2021-01-15 18:03] Yrok472 commented on #151
It works :)

[2021-01-15 18:03] #151 closed

[2021-01-22 18:56] Callum1201 opened #157 "controlPlane.spec query"
Hey,

I'm trying to get my head around the istio-operator. I've set up the istio profile to use default but also need to specify kiali as an additional spec.

I'm assuming this comes under controlPlane.spec and the additionalComponents value but I can't seem to find the format for specifying this

[2021-01-22 19:08] stevehipwell commented on #157
@Callum1201 since the v1.8 release of Istio add-ons are no longer supported. I'd suggest using the respective operators (same for Jaeger); but there is an extras folder in the Istio repo with yaml to deploy add-ons for testing but you would need to do it manually.

[2021-01-22 19:11] #157 closed

[2021-01-22 19:11] Callum1201 commented on #157
Thanks for that :)

[2021-01-22 19:55] stevehipwell commented on #157
@Callum1201 you could always install the last chart version for v1.7 to install the add-ons before upgrading the chart to get v1.8. I know Prometheus works that way and I assume Kiali would too.

[2021-02-05 18:26] sylus commented on #149
As I understood server licenses are no longer happening but data center would still be going?

I think i am understanding that correctly?

[2021-02-05 18:33] stevehipwell commented on #149
@sylus that's the way I understand it. I don't have a data center license so I'm not sure how that works from the aspect of a Helm chart?

[2021-02-05 18:40] sylus commented on #149
Oh it just worked for me with no changes just entered the license when the server was up.

Thanks for all the work you have done :D

[2021-02-05 18:42] stevehipwell commented on #149
@sylus does the data center license allow you to run a HA setup or is it still just a single server?

[2021-02-05 18:43] sylus commented on #149
I have only run the single server atm, but good question I will look into that :)

[2021-02-18 09:52] vin-bdx opened #177 "confluence-server/database"
Hi @stevehipwell !

A question about your confluence-server helm chart, for the moment we can only connect to PSQL. Can you tell me if connection update to SQL Server Database is scheduled?

Best regards

[2021-02-18 10:18] stevehipwell commented on #177
Hi @vin-bdx. I don't have any plans to support alternative databases, but I'd be willing to accept a PR.

[2021-02-18 10:43] vin-bdx commented on #177
Ok, thanks for the quick feedback.

[2021-02-18 10:43] #177 closed

[2021-03-04 08:59] NiasSt90 opened #178 "sonarqube - wrong rendering of postgresql port in SONAR_JDBC_URL"
the printf `"jdbc:postgresql://%s:%d/%s"` with %d was rendered as float64 instead of int.
then the url looks like:
`jdbc:postgresql://ot-sonar-postgresql:%!d(float64=5433)/sonardb`

therefore sonarqube dont start with postgresql.

[2021-03-04 09:18] stevehipwell commented on #178
@NiasSt90 I thought I'd already fixed this but looking at the code it's not right. I use the default port with this chart which is why it works for me. I'm happy to take a PR to fix this.

[2021-03-04 09:35] #178 closed

[2021-03-14 14:36] #149 closed

[2021-03-31 23:04] eric-engberg opened #193 "Nexus3 helm chart - No support for adding pod labels"
The current helm chart does not support adding additional labels to the pods. In azure assigning an MSI to a pod is done via aad-pod-identiy and the label aadpodidbinding.

[2021-04-01 06:16] stevehipwell commented on #193
@eric-engberg I'll look at adding pod label options to my charts for this use case.

It's a shame that Microsoft didn't use one of the standard patterns such as a pod annotation or an object with a pod selector. By using pod labels, idiomatic charts need to be modified to support this pattern.

[2021-04-01 15:46] stevehipwell commented on #193
MR https://github.com/stevehipwell/helm-charts/pull/194 resolves this.

[2021-04-01 15:46] #193 closed

[2021-04-01 18:35] eric-engberg commented on #193
Wow that was fast.  Thanks.

[2021-05-11 09:31] andlinger opened #220 "[metrics-server] Add possibility to mount additional volumes"
I would like to mount the "kube-root-ca.crt" config map in the metrics-server so I can validate against the CA and use the '--kubelet-certificate-authority' argument.

[2021-05-11 10:35] stevehipwell commented on #220
Would `extraVolumes` & `extraVolumeMounts` support work for you then?

[2021-05-11 10:37] andlinger commented on #220
Yes, should be enough!

[2021-05-11 11:21] #220 closed

[2021-06-07 13:33] ppuiseux opened #234 "Fail to re-index because of 503 HTTP code status and liveness watches it"
Hello,

This issue is linked to #232 , Jira Server in Kubernetes fails to complete a Full Re-indexation because Jira Default page sends a 503 HTTP code back while full re-indexing. however the displayed page is an error page that indicates to the user that Jira re-indexing and that he can not access to the application.
Kubernetes gets a 503 HTTP code on `/status` so it considers the application as

[2021-06-07 13:42] stevehipwell commented on #234
Thanks for opening this issue @ppuiseux, this is a result of Jira not having K8s compatible status endpoint(s). The ideal solution would be for Jira to provided a `/live` and a `/ready` endpoint and only returned the 503 on `/ready`. In the meanwhile you can either customise the `httpGet` probe to wait longer or you can set `httpGet: {}` and provide a `tcpSocket` probe instead from the chart value

[2021-06-08 15:42] ppuiseux commented on #234
Thank you @stevehipwell .
I totally agree with you about the endpoints.

I set my livenessProbe like that:
[code]
and it works.
However, during re-indexation I have an nginx error and not the Jira Error page but for final user it is the same, he doesn't have application access.

[2021-06-08 15:58] stevehipwell commented on #234
@ppuiseux that's because the pod isn't ready during this period. The actual issue is that Jira doesn't have a K8s compatible principal of ready, it's either conservative ready (`/status` is `200`) or it's always ready (`tcpSocket` available). For me conservative ready is the most correct of the two, but it sounds like I could switch to use `tcpSocket` for liveness checks.

I'm pretty sure that wit

[2021-06-10 09:02] ppuiseux commented on #234
Thank you @stevehipwell .
I raised a ticket on Atlassian Support and I am trying to find the right channel to transmit your solution of `/live` and `/ready` endpoints which are the most appropriate ways to solve this problem in my opinion too.
I close the issue here but I keep the link of this page to give it to the appropriate person..

[2021-06-10 09:02] #234 closed

[2021-06-10 09:42] stevehipwell commented on #234
Thank you @ppuiseux. What are your thoughts on using `tcpSocket` for liveness so at least the container doesn't restart while running maintenance?

[2021-06-10 09:52] ppuiseux commented on #234
Sorry @stevehipwell I believed I had answer that in [this message](https://github.com/stevehipwell/helm-charts/issues/234#issuecomment-856882132).
It works well, the application stays alive while running re-indexation.
The configuration I used is in the same message.

[2021-06-10 13:43] stevehipwell commented on #234
@ppuiseux did you also test any other http paths for liveness such as `/`?

[2021-06-10 14:07] ppuiseux commented on #234
No.
I've just tested it and I've got a 302 on `/`
I try this edit and I come back to you.

[2021-06-10 14:19] stevehipwell commented on #234
@ppuiseux codes from 200 to 399 are considered a success for http probes.

[2021-06-10 16:16] ppuiseux commented on #234
I launched two re-index and both failed at the same moment (9%) with liveness on  `/`.
I have a third running right now with liveness on `tcpSocket` and is reaches 25% and it continues.

It's very strange and I don't know why but here are the facts.

[2021-06-10 16:32] stevehipwell commented on #234
I'll look at updating my Jira and Confluence charts to use `tcpSocket` for liveness.

[2021-06-11 08:50] ppuiseux commented on #234
I opened a ticket on https://jira.atlassian.com/browse/JRASERVER-72508 to ask for these two new endpoints.

[2021-06-17 05:13] yuezhuangshi opened #242 "Can't evaluate field paths in type interface"
When using 2.8.1 plantuml charts, I have configuration as below
[code]

After `helm install`, I got those errors, where should I define `paths`?

`Error: template: plantuml/templates/NOTES.txt:4:12: executing "plantuml/templates/NOTES.txt" at <.paths>: can't evaluate field paths in type interface {}`

[2021-06-17 08:02] #242 closed

[2021-06-17 08:05] stevehipwell commented on #242
@yuezhuangshi I released this chart by accident before I finished the testing with the wrong version (it's a major version change) and an error in `NOTES.txt`. I've fixed the error and released a `v3.0.0` version which should work with the settings you're currently using. Sorry for the inconvenience.

[2021-06-18 12:43] dcardellino opened #245 "[jira-software] chart templating issue"
Hello,

Like in #136 in jira-software i also receive a templating error.
`Error: template: jira-software/templates/deployment.yaml:79:43: executing "jira-software/templates/deployment.yaml" at <include "jira-software.postgresql.fullname" .>: error calling include: template: jira-software/templates/_helpers.tpl:77:12: executing "jira-software.postgresql.fullname" at <{{template "postgresql.fullname

[2021-06-21 08:49] stevehipwell commented on #245
@dcardellino I've managed to introduce this issue into a number of my charts so I'll fix them in a single PR as well as add some ingress maintenance.

[2021-06-21 09:56] #245 closed

[2021-06-23 15:55] dcardellino opened #252 "After Ingress Maintenance, Ingress can't be created"
If I deploy jira-software, an ingress can't be deployed, because there is a templating issue in `
helm-charts/charts/jira-software/templates/ingress.yaml` on line 20.

[code]

There is a missing key `spec`. The part of the code should look like this:
[code]

[2021-06-23 15:56] stevehipwell commented on #252
Thanks for reporting this, I'll patch ASAP.

[2021-06-23 16:14] #252 closed

[2021-07-23 03:52] kwangil-ha opened #265 "[nexus3] Add install plugins"
I want to install the composer plugin for my nexus3, without custom docker image. But It is not possible to install plugins with helm chart. Please add installing plugins like sonarqube helm chart.

[2021-07-27 16:25] stevehipwell commented on #265
@kwangil-ha I'm going to look at writing for a solution for you so let's keep this issue open.

[2021-08-11 12:45] Hounddog opened #287 "[jira] Add init containers"
We are currently in the progress of migrating Jira from a different cluster to Kubernetes.
During this we require an init container to do some migration steps.

We are also looking further into the option of creating a Preview environment for which we also require initContainers to do some tasks before jira starts.

I have implemented this already for our purpose and attached a pullrequest with th

[2021-08-11 14:02] #287 closed

[2021-08-19 03:44] akath19 opened #298 "[sonarqube] Add extra containers support"
We're looking to use your Sonarqube helm chart (it's the most featured & trusted one), however, we required adding an extra container to the Sonarqube deployment (a proxy to connect to external DBs).

@stevehipwell I've opened #297 with the required changes to support this, can you review and let me know if it's OK?

[2021-08-19 07:12] stevehipwell commented on #298
Thank you @akath19, I've reviewed your PR and left some comments but am happy to merge the changes as soon as these are addressed. I'll be releasing a new chart version to support SonarQube v9.0 soon but I'd like to get your changes in first to support the v8.9 LTS release on the current chart major version.

[2021-08-19 13:43] akath19 commented on #298
Done, thanks for the quick response and comments!

[2021-08-19 18:30] #298 closed

[2021-09-08 03:59] AndrewSav opened #321 "[tigera-operator]Question: Is this the official helm chart for the tigera operator?"
Is this the official Helm Chart for the operator, hosted at https://docs.projectcalico.org/charts?

[2021-09-08 05:21] stevehipwell commented on #321
@AndrewSav this chart isn't official, it's based on the official chart but modified to be idiomatic Helm and to add missing capabilities.

[2021-09-08 12:53] oisis opened #323 "Environment variables name are no correct"
In current SonarQube chart version PostgreSQL configuration is not working because of wrong ENV VAR names.

Please change environment variables names int this file:
https://github.com/stevehipwell/helm-charts/blob/master/charts/sonarqube/templates/deployment.yaml#L113-L144
Currently SonarQube run/config script is not reading those values.
So please change:
[code]
to:
[code]
I'm not sure what about

[2021-09-08 13:01] stevehipwell commented on #323
@oisis where are you sourcing this information from? The [official docs](https://docs.sonarqube.org/latest/setup/environment-variables/) show the current variables as correct and the [installation guide](https://docs.sonarqube.org/latest/setup/install-server/) shows the variables that you've quoted as deprecated.

[2021-09-08 13:22] oisis commented on #323
I was trying to setup SonarQube with Postgres on K8s with your chart and i couldn't get it working. After some small investigation all was set up properly but had to change env variables names. Please check this:
https://github.com/SonarSource/docker-sonarqube/blob/master/7/community/Dockerfile#L7-L11
https://github.com/SonarSource/docker-sonarqube/blob/master/8/community/run.sh#L49-L51
I believe,

[2021-09-08 13:48] stevehipwell commented on #323
@oisis the latest chart is for v9 and doesn't support v7, if it works so be it but I doubt it would, or v8, which should work fine as there haven't been any chart changes that would stop this. If you want to use v7 or v8 in a supported way please use an older chart version.

To clarify the issue you reported (I'm assuming that you're on v8 or v9) the function you've highlighted `set_prop_from_depr

[2021-09-08 14:01] oisis commented on #323
Yes, you are right, i was trying to setup SQ 7 with latest chart version. Will try next to setup later SQ 8 and 9(upgrade process from 7) with this chart. Anyway thanks for your help. If chart is working ok with SQ9 i think you can close this ticket.

[2021-09-08 14:12] stevehipwell commented on #323
@oisis I remembered wrong, I've never supported v7 in my chart but there is a v7 chart in the [legacy repo](https://github.com/helm/charts).

In general a Helm chart should be compatible with a different patch version to the one it's released with; it might be compatible with a different minor version; but it's unlikely to be compatible with a different major version. This rule is made even more l

[2021-09-08 14:12] #323 closed

[2021-09-09 22:17] #321 closed

[2021-09-22 14:43] dynamicat opened #327 "[sonarqube] github signing in"
I have deployed sonarqube 4.0.0 with the helm chart.  Everything is setup and all works correctly except the GitHub Authentication.  I completed all the fields using the same clientid etc as used with setting up sonar with github actions.

When I try to login with the github account it redirects me back to the login page again.  Did you have any experience with this or is there something I missed?

[2021-09-22 15:58] #327 closed

[2021-09-22 16:30] stevehipwell commented on #327
@dynamicat it looks like your OAuth configurations is incorrect based on the error URL returned. As far as the Helm chart goes, I have nothing to do with the SonarQube implementation and I haven't personally used GitHub integration.

[2021-09-22 16:31] dynamicat commented on #327
Ye i fixed it. But thanks for the reply.

[2021-09-23 12:03] stevehipwell commented on #265
/not-stale

[2021-11-11 23:15] jrsdav opened #359 "istio-operator chart needs ClusterRole updates"
I recently discovered when using the [istio-operator](https://github.com/stevehipwell/helm-charts/tree/master/charts/istio-operator) chart, the Istio Operator is failing to reconcile changes to `IstioOperator` CR's, preventing removal of Istio components when uninstalling the chart.

This is due to a missing RBAC permission in the operator's `ClusterRole`, which has been fixed in upcoming Istio re

[2021-11-12 00:51] gclawes opened #361 "[tigera-operator] tigera-operator fails on fresh k3s cluster on chart version > 1.2.3"
The `tigera-operator` chart fails to install calico components on fresh k3s clusters (both `v1.21.5+k3s2` and `v1.22.3+k3s1`).  Logs during failure are recorded below.

I suspect this is happening because of the changes to CRDs made here: https://github.com/stevehipwell/helm-charts/commit/991ff6dfa66439d2ae50767e5265a0575c6ff30d

My suspicion is that installs to a cluster with a version <= 1.2.3 w

[2021-11-12 08:34] stevehipwell commented on #359
Thanks @jrsdav, let's get your PR merged to fix this.

[2021-11-12 08:53] stevehipwell commented on #361
@gclawes thanks for opening this issue.

Firstly, as is alluded to in the helm docs you shouldn't be using Helm for CRDs, they're in the chart by convention and to make automation testing easier, but I'd expect people to be manually updating the CRDs and then using the `--skip-crds` flag when upgrading/installing a chart.

Secondly, I only use the operator myself to run network policy in coordinat

[2021-11-12 10:03] stevehipwell commented on #361
@gclawes I've updated the role in #362 based on some changes that I hadn't seen, but I don't think this will fix your issue. Could you manually patch your role based on the logs to come up with what I need to add to the chart?

[2021-11-14 14:39] stevehipwell commented on #359
Resolved by #360.

[2021-11-14 14:39] #359 closed

[2021-11-23 13:19] stevehipwell commented on #265
/not-stale

[2021-11-25 12:45] stevehipwell commented on #361
@gclawes the last two chart releases have support for adding custom rules to the `ClusterRole` to support this until I can find the correct RBAC documented. I'm going to close this, but feel free to re-open if you think I've missed something.

[2021-11-25 12:45] #361 closed

[2021-11-27 23:40] gclawes commented on #361
Hey, sorry for the late reply, been busy the last few weeks.  I may get some more time to dive deeper into this later this week.  If I recall correctly, it may have been related to the fact that there are 2 sets of CRDs tigera/projectcalico use, the ones from [projectcalico/calico](https://github.com/projectcalico/calico/tree/c11bccc08f9b6c98c6dfc1142db2ff2082450a74/_includes/charts/calico/crds/kd

[2021-11-29 10:54] stevehipwell commented on #361
@gclawes there are indeed two sets of CRDs, the Tigera Operator ones and the Calico ones; but this issue is due to the Calico spec only using a subset of the Tigera Operator CRDs. This Helm chart works fine out of the box if you only install the CRDs required for Calico and with the last couple of releases it will also work correctly with all the Tigera Operator CRDs if you provide custom rules.

[2021-12-09 11:42] EugenMayer opened #376 "[jira] Consider exposing tls/host for jira as common variables"
Currently, host/tls env vars are only set, if the ingress is enabled.

In my case, we use Traefik, so we use CRDs to configure our own ingress route, thus ingress.enabled=false is used in the chart.

Due that ATL_TOMCAT_SECURE and the usuals are no longer set at the instance is not set.

One would need to add

[code]

I understand that this is perfectly possible - i would though suggest to expose

[2021-12-11 14:23] stevehipwell commented on #376
Sorry for the slow reply, I've been AFK. Setting `env` as you've shown would be the correct way to do this. Like much of the community I'm not a fan of the Traefik CRD design, specifically around it not being idiomatic, so while I try and make it possible to use I wont ruin the chart UX to make it first class. AFIK Traefik v2 has ingress support so I'd suggest using that if you want an Idiomatic p

[2021-12-11 14:38] EugenMayer commented on #376
No need to excuse here - you have time or you do not. I'am very happy to be able to use all your work, taking your times for comments is just - if possible or just not :)

I will not argue with you on the CRD part since i'am sure it is not important (and I would agree to disagree - I has huge pros). I do no think we need to convince ourselves here though, it's fine to have a different understandin

[2021-12-13 12:29] stevehipwell commented on #376
@EugenMayer thanks for opening this but I'm happy with the current design. All my charts follow a Kubernetes idiomatic design and the hosts are under the ingress section as that the idiomatic Kubernetes way to expose services. I think moving the hosts would be detrimental to the expected use of this chart and would increase cognitive complexity for most people. The host settings wont ever be set i

[2021-12-13 12:29] #376 closed

[2021-12-18 11:19] EugenMayer commented on #265
Just in case this is interested, eventhough we are using https://sonatype.github.io/helm3-charts/ as the chart, we solved the same thing using an init container:

[code]

When you want to take the same route @stevehipwell  you would need to add support for additionalVolumes/addinitionMounts or just add a new PVC for deploy so the init container can mount it (maybe easier to do this).

Maybe this h

[2022-01-11 00:25] eric-engberg opened #392 "Nexus3: Ability to add BasicAuth to Endpoints in ServiceMonitor"
Nexus requires basic auth to scrape the metrics.  The ServiceMonitor resource does not currently support adding that field

[2022-01-11 05:36] gclawes commented on #361
I finally got around to testing this, adding these rules fixed the RBAC issues:
[code]

Unfortunately, the operator now crashes with an error about a missing `Elasticsearch` CRD.
[code]

I suspect the operator is looking for `Elastisearch` based on the presence of the `LogStorages` and `LogCollectors` CRDs, given that their descriptions mention elasticsearch.

[code]

I think the problems center a

[2022-01-11 06:29] stevehipwell commented on #361
@gclawes I'm planning on removing the CRDs not required by a basic Calico install from the chart. As Helm shouldn't be used to install the CRDs I've not prioritised this.

I'm waiting on the Calico version of the operator to catch up with the minor version in my chart; at which point I'll update the patch version, remove the CRDs and update the docs to say it's optimised for Calico. Basically the

[2022-01-11 14:34] gclawes commented on #361
Cool!  Looking forward to it, thanks for the quick reply!  Your chart is definitely much higher quality than the upstream tigera one!

[2022-01-16 02:40] gclawes commented on #361
Tried `2.0.0`, works perfectly!  Thanks!

[2022-01-16 07:41] stevehipwell commented on #361
Thanks @gclawes, I meant to comment here when I released. Can this issue be closed now?

[2022-01-16 13:57] gclawes commented on #361
Yep, thanks!

[2022-01-18 18:16] eric-engberg commented on #392
Ah I didn't even think of that.  Yeah that seems to work ok.  Might not be a bad idea to add the ability for BasicAuth though.  If I can find time I can try to put in a PR if you don't want to do it.

[2022-01-18 18:42] stevehipwell commented on #392
@eric-engberg I'll add this in the next release.

[2022-02-06 16:05] gclawes opened #403 "tigera-operator: failed to list *v1beta1.PodSecurityPolicy:"
As of v2.1.0 helm chart, `tigera-operator` is unable to list `*v1beta1.PodSecurityPolicy`:

[code]

This prevents the operator from deploying calico.  This occurs on both clean installs with the provided helm chart and CRDs, as well as on upgrade from `2.0.1` with the provided CRDs applied with `kubectl apply` pre-upgrade.

The following `.Values.rbac.customRules` fix this:
[code]

These should pr

[2022-02-06 20:17] stevehipwell commented on #403
Thanks for the report @gclawes. I'll double check, but I thought the official chart only grants these if PSPs are enabled any my chart doesn't support PSPs. Obviously I'll fix if these are required, probably in the morning.

[2022-02-07 01:26] gclawes commented on #403
It appears to add PSPs when the upstream chart is **not** being installed on an `openshift` clusters: https://github.com/projectcalico/calico/blob/master/calico/_includes/charts/tigera-operator/templates/tigera-operator/02-role-tigera-operator.yaml#L267

[2022-02-07 09:23] stevehipwell commented on #403
@gclawes it looks like I removed the rule in `v2.1.0` as I don't support PSPs but the operator still needs access to them. This will be fixed by https://github.com/stevehipwell/helm-charts/pull/404.

[2022-02-07 09:25] #403 closed

[2022-02-15 08:45] stevehipwell commented on #392
@eric-engberg I haven't forgotten about this, I've just been waiting on a Nexus release. If you're stuck without it I could do a release to add this without the Nexus release?

This will be released as `serviceMonitor.endpointConfig` to enable full `ServiceMonitor` endpoint customisation, I assume that this will work correctly for your use-case?

[2022-02-15 20:25] eric-engberg commented on #392
I'm good with the work around you gave me.  For now at least.. I can wait for a nexus update

[2022-02-23 20:46] eric-engberg opened #412 "nx-anonymous policy hard coded for anonymous user"
When metrics and anonymous access are enabled the current helm chart is hard coded to add the policy "nx-anonymous" to the anonymous user.  This allows anonymous reads of the repository for all repos.  If enabling anonymous metrics the only policy that needs to be applied is "nx-metrics" but there is no way to currently do that.

[2022-02-23 20:46] eric-engberg commented on #392
Ok well it turns out there is an issue with enabling anonymous access to metrics. See https://github.com/stevehipwell/helm-charts/issues/412

[2022-02-24 09:11] stevehipwell commented on #412
@eric-engberg the automation scripts were written for a specific use case and although I've tried to make them work for anyone there are some things like this which have been missed. Let me take a look at this and I'll put out a minor version which will hopefully solve your problem.

[2022-02-24 11:34] stevehipwell commented on #412
@eric-engberg looking through the docs enabling anonymous access does by default enable access to all repos, I've generally tried to keep this as simple as possible although looking through the code again it's anything but simple.

If you want to take a look at #413 this should fix your issues? I don't have time to fully test this as I no longer directly consume the chart so I'll just be testing t

[2022-02-28 09:00] PushRom opened #414 "Secrets and extravolumes for fluentd-aggregator"
Hello!
It would be great to add the creation of secrets and extravolumes to the fluentd-aggregator chart. To mount certificates from secrets, for example.

[2022-02-28 09:31] stevehipwell commented on #414
@PushRom I'd be happy to add extra volumes to the chart, it's actually already coded and just waiting for a chart minor release. I think all the secret mounts other than volume are present. I won't enable the creation of secrets through the chart, this isn't a good pattern as the secret values end up in the Helm state and lifecycling secrets with Helm doesn't make sense. I'd recommend always maint

[2022-02-28 14:17] eranhirs opened #415 "PlantUML behind reversed proxy not working"
As mentioned in multiple PlantUML issues ([#64](https://github.com/plantuml/plantuml-server/issues/64), [#163](https://github.com/plantuml/plantuml-server/issues/163)), there is an issue when deploying PlantUML behind a reversed proxy, where it redirects back to http instead of https.

It seems the solution is to add the `--module=http-forwarded` as an argument to the PlantUML container.
Is it pos

[2022-02-28 18:39] stevehipwell commented on #415
@eranhirs of course we can support it, let me look at the chart and make sure the extra args are available. Would that work for you?

[2022-03-01 01:34] PushRom commented on #414
Ok. Let's wait for the release

[2022-03-01 01:34] #414 closed

[2022-03-04 09:00] mkuzniarski opened #416 "adding s3 blobstore"
Hi,

Are you planning to add s3 blobstore functionality for nexus3?

configuration would look something like:

  BlobStores:
      - name: s3-blobstore
         type: s3
         bucketName:
         region:
         accessKeyID:
         secretAccessKey:

and so on

[2022-03-04 09:29] stevehipwell commented on #416
@mkuzniarski S3 blob stores are already supported, the config should align to the blobstore API.

[2022-03-04 13:57] mkuzniarski commented on #416
thanks, I'll give it a try.
for now I'm struggling with:

Exec lifecycle hook ([/bin/sh -c ${SONATYPE_DIR}/nexus/conf/configure.sh > /proc/1/fd/1 2>/proc/1/fd/2]) for Container "nexus3" in Pod "nexus-nexus3-794bcd4dd6-5msn9_nexus(637c836a-2a1f-42a8-a095-52ecaaa0bbc6)" failed - error: command '/bin/sh -c ${SONATYPE_DIR}/nexus/conf/configure.sh > /proc/1/fd/1 2>/proc/1/fd/2' exited with 1: , message

[2022-03-04 19:50] stevehipwell commented on #416
@mkuzniarski what's the full config you're using?

[2022-03-04 20:05] mkuzniarski commented on #416
here's my full config (replaced some data with '***' )
the 'nexus-ad' secret is already created as well as the nexus pvc

[code]

[2022-03-04 20:17] stevehipwell commented on #416
@mkuzniarski I think you need to provide a new root password in a secret to use the config functionality. This should be in the docs?

I only wrote this chart because there wasn't an official one at the time and have kept it because the official one wasn't good enough for my use case. I don't actually use this anymore which is why I'm a bit rusty on the details but I'll try and put some time aside

[2022-03-04 20:45] mkuzniarski commented on #416
@stevehipwell you're right, it's in the docs - missed that part.
after adding root secret it worked like a charm.
thanks a lot!

[2022-03-04 20:45] #416 closed

[2022-03-07 09:29] stevehipwell commented on #415
@eranhirs do you happen to know if the `--module=http-forwarded` arg works for Tomcat or just Jetty? I'm looking at a potential more advanced solution.

[2022-03-07 11:37] #265 closed

[2022-03-07 11:37] #392 closed

[2022-03-07 11:37] #412 closed

[2022-03-07 12:13] stevehipwell commented on #414
@PushRom even with the coming `extraVolumeMounts` I'd recommend binding your secrets to `env` as demonstrated below; you can then use them directly in your [Fluentd config](https://docs.fluentd.org/quickstart/faq#how-can-i-use-environment-variables-to-configure-parameters-dynamically). The added benefit of this is that it works in the current chart version (I use it extensively).

[code]

[2022-03-15 07:10] EugenMayer opened #426 "Jira does not regenerate / update dbconfig.xml on DB credential changes"
When changin the credentials of the database, and thus `ATL_JDBC_PASSWORD`, the `dbconfig.xml` will not be updated, the old one is used and the connection does not work.

This can be very surprising and lead to unexpected issues - any reasons you do not regenerate it?

Comparing to confluence in jira this file usually can be regenerated each start without any issues, so it's much simpler to fix.

[2022-03-15 07:17] EugenMayer opened #427 "Confluence does not update db credentials if those change"
Changing `ATL_JDBC_PASSWORD` or any other DB related setting does not regenerate `confluence.cfg.xml` - i understand this is a little more tricky with Confluence then with jira #426 - since actual runtime data is saved in that file like the license.

In both cases we could use xmlstartlet to inject just the values we need via https://github.com/EugenMayer/docker-image-atlassian-confluence/blob/mas

[2022-03-15 07:22] EugenMayer commented on #426
Just have seen that you are using the official images and this is an actual upstream bug (which Atlassian will not fix).

I would suggest we could go with an init container, that deletes the dbconfig.xml on every start.

[2022-03-15 09:09] stevehipwell commented on #426
@EugenMayer having unsuccessfully spoken to Atlassian numerous times about this issue I don't really want to spend any engineering time on what is an edge case for an [almost deprecated tool](https://www.atlassian.com/migration/assess/journey-to-cloud). I have provided the `extraInitContainers` input so that people can manage these edge cases themselves. I'm happy to discuss further if you think t

[2022-03-15 09:10] stevehipwell commented on #427
@EugenMayer I've responded in #426.

[2022-03-15 10:01] EugenMayer commented on #426
I understand, including your POV due to the near EOL of server.

Would you still be interested in a PR if we fix this with a initContainer and would share it?

[2022-03-15 10:11] stevehipwell commented on #426
@EugenMayer yes a PR either to automate the init container or just to add to the README how to do it would be appreciated. If the self hosted versions weren't EOL I'd be considering a Helm hook job to manage this task only when the values changed. I guess a marker file with the credentials hashed in it could be used to only run the command on a change.

[2022-03-15 10:52] EugenMayer commented on #426
I would keep it simple,

- configuration value to enable or disable this behavior
- if enabled, the init container removes the dbconfig.xml and it will be recreated.

I would neither go using having and comparing or any further things - if anybody wants to keep the dbconfig.xml out of any reasons, the behaviour should be disabled.

I would opt in to make this the default behavior, but that is on y

[2022-03-15 11:15] stevehipwell commented on #426
I'm fine with the KISS approach but wouldn't want to turn it on by default in the chart as that specifically goes against the KISS approach.

If I was using it I'd turn it on as needed but keep it off by default; the pod gets re-started relatively regularly but I can't remember the last time I changed a Jira or Confluence password.

[2022-03-15 13:10] rrmnj opened #430 "Wildcard Ingress path not working automatically on Sonarqube Helm chart"
When using this chart we ran into an issue when using an AWS ALB with Sonarqube. By default, the ingress path '/' does not support the wildcard * in AWS (the case may be different in other cloud providers). This means that after the Ingress ALB has been created, we need to manually go into the AWS console and add the wildcard (*) after the path '/'. This allows Sonarqube to function normally. With

[2022-03-15 14:45] stevehipwell commented on #430
@rrmnj are you using the out of tree [AWS Load Balancer Controller](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/)? And if so which version? I've seen this behaviour before but only when not setting `pathType: Prefix`; with the latest controller and `pathType: Prefix` set the ALB target groups are created as `/*`.

[2022-03-15 17:43] stevehipwell commented on #430
@rrmnj that version is over a year old and I think it even predates the K8s v1.20 release. based on my memory of configuring our ALBs and a quick grep of the releases it looks like you need at least [v2.2.0](https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.2.0) to support `pathType`.

[2022-03-15 21:52] rrmnj commented on #430
Thanks a lot @stevehipwell. We bumped the alb-controller up to the latest version (v2.4) and that has fixed the issue, therefore closing this ticket.

[2022-03-15 21:52] #430 closed

[2022-03-16 08:55] stevehipwell commented on #415
@eranhirs I'm still interested if the flag can be automatically set but #431 will close this issue as you will be able to set it manually.

[2022-03-16 08:57] eranhirs commented on #415
Perfect, #431 is sufficient for my use case, thanks!

[2022-03-16 08:57] #415 closed

[2022-03-28 06:59] phillid opened #435 "plantuml: No option for NetworkPolicy"
I've been using your plantuml chart (nice and clean!). Interestingly, GitLab's docs for deploying plantuml suggest optionally securing the server using [network controls to isolate it][1] in order to remove basic attacks such as fetching cluster-internal URLs via a plantuml instance.

I'm looking towards adding an optional egress-disabling NetworkPolicy to sit alongside the release, which isn't cu

[2022-03-28 10:34] mkuzniarski opened #436 "nexus3 configure users"
Hi,

the following error appears while configuring users:
[code]
with example config:

[code]

[2022-03-28 14:39] stevehipwell commented on #435
@phillid I'd strongly advise the use of network policies for anything in a K8s cluster but I don't see it as a Helm chart concern. IMHO Helm charts are intended deliver a working "app" into a Kubernetes cluster, anything not required for that doesn't belong in the chart.

[2022-03-28 15:38] stevehipwell commented on #436
@mkuzniarski there is a typo in the script, could you modify the `nexus3-conf` configmap and swap the reference to `/tmp/anon-user.json` with `"${json_file}"` and restart the pod? I'm not going to be able to test this myself for a couple of days.

[2022-03-28 21:01] phillid commented on #435
Thanks for the quick response - that's a fair enough approach. I'll wrap this chart with a custom one in order to achieve this behaviour instead.

[2022-03-28 21:01] #435 closed

[2022-03-29 07:14] mkuzniarski commented on #436
got it.
there's also a problem with iteration through users:
[code]

which ends up with single ```'-user.json'```  file

I guess it should be:

[code]

[2022-03-29 08:22] stevehipwell commented on #436
@mkuzniarski I've opened #437 to fix both of these issues. If you can test by manually modifying the config map that would help, otherwise I'll give it a test later in the week.

[2022-03-30 09:44] #436 closed

[2022-04-12 08:54] dervos opened #446 "SonarQube chart: %!s(float64=5432) port error"
The recent change in sonarqube-4.4.1 resulted in a startup error caused by a malformed jdbc database url.
[code]

values.yaml
[code]
Enclosing the port number resolved the issue.
[code]
After some research, this could be an issue with https://github.com/kubernetes-sigs/yaml/issues/45. So this is probably related to my delivery solution. Thoughts?

[2022-04-12 09:39] stevehipwell commented on #446
@dervos thanks for the issue, #447 should fix this for you, I'll release it once the CI passes. But you're right that you can make the current chart work by using a string for the port.

[2022-04-12 09:50] #446 closed

[2022-04-24 03:33] #427 closed

[2022-04-24 03:33] #426 closed

[2022-05-20 08:24] mcwarman opened #457 "[confluence-server] ATL_JDBC_URL port formats incorrectly"
Using `v4.8.2` our helm terraform diff shows odd formatting around the port:

[code]

[2022-05-20 08:45] stevehipwell commented on #457
This was an issue which should have been patched, but I'm AFK so can't figure out exactly why it's still an issue for a day or two.

In the meantime quoting the port value should fix your issue.

[code]

[2022-05-23 21:08] eugenberend opened #463 "Incorrect grep in pre-start lifecycle script breaks s3 blobstore creation"
Assume that we have a blobstore configuration:

[code]

So, in this case grep returns something that not expected (because of two "type" keys on different levels):

[code]

So the assignment

https://github.com/stevehipwell/helm-charts/blob/79276a6d1be9331245bf086aaccdc570030cefc6/charts/nexus3/files/configure.sh#L209

will be incorrect and the script will exit with -1.

I think you should either

[2022-05-24 08:22] stevehipwell commented on #463
Thanks for the report @eugenberend, I'd love to use `jq` but it's not available on the image so I have to be creative. I don't personally use this chart myself any more, so I rely on feedback from users for things like this; S3 support was added by request and I've not used it myself.

I've opened #464 to fix this issue but if you'd be able to manually apply the fix to your ConfigMap and rollout y

[2022-05-27 12:51] #457 closed

[2022-05-31 20:17] tculp opened #468 "[nexus3] Allow user to disable the volume-mount init-container, since chown may not be allowed"
We use an existingClaim to mount the nexus data pvc, but the scheme we use does not allow for chown. This causes the `volume-mount` init container to fail.

[2022-06-03 19:40] AlexGluck opened #469 "Add support multiple docker repos without publish additional ports"
Hello, i writed full nginx configuration for support multiple repos without publish additional ports [here](https://gist.github.com/abdennour/74c5de79e57a47f3351217d674238da8?permalink_comment_id=4188452#gistcomment-4188452).

In [your ingress](https://github.com/stevehipwell/helm-charts/blob/c2cbf919329703b7540e3837937c7be2f6098cd4/charts/nexus3/templates/ingress.yaml#L25
) not work properly dock

[2022-06-06 10:37] stevehipwell commented on #469
@AlexGluck I'm working on some assumptions here as your issue doesn't give me the context of which chart you're using and what you're actually trying to use.

If you're trying to use Nexus3 with multiple Docker connectors this is supported via `service.additionalPorts`, there is no need to write any additional config as the chart handles setting up the connectivity for additional ports with mapped

[2022-06-06 10:58] AlexGluck commented on #469
I propose replace additional ports by my variant without any additional ports. After i manage nexus configuration by terraform, i need replace service and update statefullset with stop_the_world for customers.

For improve service quality i request replace your logic by my.

[2022-06-06 11:17] stevehipwell commented on #469
Sorry @AlexGluck I don't see the benefit of your approach over the Kubernetes & Nexus native approach used in this chart. This chart doesn't expect Docker repositories (or anything else for that matter) to be configured outside of a maintenance window and I don't think the extra complexity required to support it is worth it. All automated config changes via the chart will result in the deployment

[2022-06-06 11:17] #468 closed

[2022-07-13 13:10] hannes-angst opened #490 "SonarQube: no matches for kind "Ingress" in version "networking.k8s.io/v1beta1""
Detecting if the kubernetes cluster uses the stable API for ingress fails on AWS:
[code]
with

[code]

Most probably because the version returned is `v1.22.9-eks-810597c`.

[2022-07-13 15:53] stevehipwell commented on #490
@hannes-angst how are you applying the chart and what tool versions do you have? The chart is coded to detect the correct ingress API (even with the incorrect SemVer used by the managed K8s offerings) and I've tested it on various Kubernetes versions (specifically EKS).

https://github.com/stevehipwell/helm-charts/blob/95968619f22dd1d5206dac4a16fa2c8d89358c6f/charts/sonarqube/templates/_helpers.tp

[2022-07-14 08:02] hannes-angst commented on #490
I will call this an issue with migrating the cluster.

Uninstalling the chart returns the following issue:
[code]

After this, an installation works like a charm :)

[2022-07-14 08:02] #490 closed

[2022-07-22 12:51] EugenMayer opened #493 "[Jira Software] Existing claims do no longer work with statefulset"
While existingClaims are supported with the old deployment variant, they are currently no longer supported with the statefulset kind of deployment.

We should either fix this or maybe add it to the docs.

### To fix it (IMHO)

For
-  https://github.com/stevehipwell/helm-charts/blob/master/charts/jira-software/templates/statefulset.yaml#L175
- https://github.com/stevehipwell/helm-charts/blob/master

[2022-07-22 13:28] stevehipwell commented on #493
@EugenMayer it looks like the docs are missing for the `deployment` value so I'll do a patch release with the following description and update the release notes.

I don't think that the additional complexity of the code and the documentation is worth it to enable supporting existing volumes in the `StatefulSet`, especially as it couldn't be seamless with what's in the chart for the `Deployment`. I

[2022-07-22 15:08] stevehipwell commented on #493
See https://github.com/stevehipwell/helm-charts/pull/494.

[2022-07-22 17:37] EugenMayer commented on #493
I cannot see how that is overcomplicating things, but Iam not here to argue

[2022-07-22 17:43] stevehipwell commented on #493
You need conditional logic in the templates, and then documentation to explain that you can use an existing `PersistentVolume` as long as it's named correctly (which is not the same as the template name and has ordinals in it), and then more documentation to say that the `PersistentVolumeClaim` created for the `Deployment` wont work with this.

AFAIK Jira Software is effectively dead with people s

[2022-07-22 17:47] EugenMayer commented on #493
With statefulset my opinion is, there are no conditions needed, but hands down, my experience here is limitted.

The dead part is surely right, i guess e.g. for us, we will run it until Feb. 2024 most probably, so quite some time still - but we are users and also vendors.

Again, do what suits you best, we had our fair share of fun today dealing with the PVC de-attached and restoring the old one

[2022-07-22 18:18] stevehipwell commented on #493
Sorry about that, it looks like a commit got lost during a rebase which had the README line for the new variable as well as the CHANGELOG warning. I assumed the chart would be dry run for a major version so I didn't make as big a deal out of the change as I could have (not that it even got released anyway).

[2022-07-30 16:40] #469 closed

[2022-08-01 09:32] EugenMayer opened #497 "Updating for 5.1.0 -> 5.1.1 or 5.1.1 -> 5.1.2 fails on stateful set"
[code]

I did not change anything in my values, just updated the helm chart.

Is an update for you working when using stateful sets?

[2022-08-01 09:52] EugenMayer commented on #497
I had to entirely remove the stateful set (manually) and then it has been recreated - but this cannot be the plan, right?
looking at your changes from 5.1.0 to 5.1.1 nothing really changed, so I am confused

[2022-08-01 15:07] stevehipwell commented on #497
@EugenMayer there have been no template code changes since `v5.0.0` so maybe there is something in the `StatefulSet` template that was copied from the `Deployment` template which isn't working correctly in this context?

I've just run a test on kind and I can upgrade from v5.0.0 to v5.1.1.

[2022-08-03 12:33] EugenMayer commented on #497
Thank you for looking in that one. I cannot really explain it.

I will wait for the next update - this one i manually removed the stateful set and then re-applied, so it was created from scratch and should no match what ever is in the helm chart 100% - i guess when the next update comes, i will see if this happens again, and if it does, there might be a good argument that there is an actual issue

[2022-08-24 23:33] gclawes opened #505 "tigera-operator: missing kubeletVolumePluginPath field from calico v3.24.0 Installation CRD"
tigera-operator v1.28.0 added CSI Driver support: https://github.com/tigera/operator/releases/tag/v1.28.0

The merge for this includes the new `.spec.kubeletVolumePluginPath` field in the `Installation` CRD: [pkg/crds/operator/operator.tigera.io_installations.yaml](https://github.com/tigera/operator/pull/2082/files#). Setting this field to `None` allows the CSI driver integration to be disabled, w

[2022-08-25 16:17] gclawes commented on #505
Ahh, it looks like the `kubeletVolumePluginPath` may not have made it into their CRDs for v3.24.0.

I see it in `master` (permalinks to the current master commit):
https://github.com/projectcalico/calico/blob/0e8541c9b6397f74c2f4a4471e6cff4892dc44af/charts/tigera-operator/crds/operator.tigera.io_installations_crd.yaml#L4245
https://github.com/projectcalico/calico/blob/0e8541c9b6397f74c2f4a4471e6cf

[2022-08-25 16:30] stevehipwell commented on #505
@gclawes it might be worth opening an issue if you think it's been missed?

[2022-08-25 16:37] gclawes commented on #505
Opened: https://github.com/projectcalico/calico/issues/6620

[2022-08-27 09:16] EugenMayer commented on #497
Today i tried upgrading to 5.1.2 and ended up in the very same situation above:

[code]

Since i removed the stateful set the last time and it had been recreated automatically, i assume it was cleanly created and was for sure not manually tempered with

Those are the values i deploy with

[code]

All template variables are feeded via tf, so do not wonder. That is basically what i end to be using a

[2022-08-31 14:35] stevehipwell commented on #497
@EugenMayer could you try templating the change with `helm template` and then removing the `helm.sh/chart`, `app.kubernetes.io/version` & `app.kubernetes.io/managed-by` volume claim template labels before applying? I think these should be set to the selector labels instead of the general labels; I've been testing these changes in Kind without persistence.

[2022-08-31 15:44] stevehipwell commented on #497
@EugenMayer it should have only been in the persistent volume template section, but I test this statelessly in Kind so don't generate them.

[2022-08-31 16:43] EugenMayer commented on #497
So you test/ci setup does not use any persistence, thus the template section was irrelevant for you and the issue did not occur, got it.

But this also means: i'am the only one using statefulset in production

Those are concerning news :)

[2022-08-31 17:33] stevehipwell commented on #497
I know that there are users of the Deployment pattern in production, but you're the only StatefulSet user I'm aware of.

I'm just about to release the chart for Jira v9.2.0 and I've changed the label pattern to use selector labels for the volume claim template which should fix the issue. If this doesn't work I'll get a cluster with PV support and test it through to solve the issue now as I really

[2022-08-31 18:00] EugenMayer commented on #497
Thank you for still being responsive and invested even though EOL is coming soon.If the solution might be to go back to deployment, i will do so. I do not want to force you into jumping though hoops for that at all.

So if you decide to ditch the entire stateful set, i will have to migrate back, surely that is effort, but if it has to be done, it has to be done. Let me know

[2022-08-31 18:06] stevehipwell commented on #497
@EugenMayer if you could give the latest release a try and see how that works for you? I want the StatefulSet version to work as it's how I should have built the chart in the first place.

[2022-08-31 18:28] EugenMayer commented on #497
Tried 5.2.0 and this time (of course expected), it was not possible since i already have those labels present in my current stateset. So the real updates can only be 5.2.1 i assume, right

[2022-08-31 18:30] stevehipwell commented on #497
Yes you're right, so once you get to v5.2.0 future releases will work correctly. I have given this a quick test locally to prove that a fake release from v5.2.0 works correctly and it does. Sorry it's taken me this long to get this right.

[2022-08-31 18:31] EugenMayer commented on #497
t

no harm taken, super glad we coming near a solution. Thank you for the effort

[2022-09-22 15:08] timdeluxe opened #516 "[nexus3] Some volumes missing in statefulset"
volumeMounts are there, but volumes are missing in the statefulset.yaml for everything coming from configmaps or secrets. In deployment.yaml they are there.

[2022-09-26 14:06] stevehipwell commented on #516
@timdeluxe I'll take a look when I'm back in the office next week.

[2022-09-26 19:34] GabrielAmaral opened #518 "[Nexus3] Failed to update nexus3 3.33 to 3.38.1"
Hi,

I'm trying to update my nexus3 from 3.33 to 3.38.1, but I received an error "Could not update the root password".

I've connected SSH in the pod and had tryeid to exec a curl command to localhost:8081 and I received 503.

[2022-09-26 19:40] GabrielAmaral opened #519 "[Nexus3] Failed to update nexus3 3.33.0 to 3.38.1"
Hi,

I'm trying to update my nexus3 from 3.33.0 (chart version 4.5.0) to 3.38.1 (chart version 4.11.1) but I get an error "Could not update root password".
What I've noticed is that when I connect via SSH into the pod, I try to make cURL calls and get 503 or 000 in response.
I've tried to identify in several ways what is happening, but I couldn't find it.
Anyone had this problem?

[podError.txt](h

[2022-09-26 22:09] stevehipwell commented on #518
@GabrielAmaral I'm AFK this week so will have to look at this next week. I assume that as you're updating that you haven't tried to switch to a StatefulSet?

[2022-09-26 22:10] stevehipwell commented on #519
Is this a duplicate of #518?

[2022-09-27 18:38] #519 closed

[2022-09-28 03:40] #493 closed

[2022-10-03 16:56] stevehipwell commented on #505
This was fixed in the last release.

[2022-10-03 16:56] #505 closed

[2022-10-03 17:12] stevehipwell commented on #518
@GabrielAmaral are you trying to use the `StatefulSet` mode? If so firstly you can't update between the `Deployment` mode & the `StatefulSet` mode, and secondly there is currently a bug (#516) with the `StatefulSet` implementation. If you're not then I'll need more information to look into this further.

[2022-10-03 17:24] #516 closed

[2022-10-03 17:24] GabrielAmaral commented on #518
Hi @stevehipwell , we found the root cause of our problem.

It appears to be something related to the admin/root password.

I manually updated the admin.password in orientDB like this document:

https://support.sonatype.com/hc/en-us/articles/213467158-How-to-reset-a-forgotten-admin-password-in-Nexus-3-x

And after that we configured /nexus-data/admin.password with the value "admin123", then we did

[2022-10-03 17:25] stevehipwell commented on #516
@timdeluxe this should be fixed in the release that's just been created.

[2022-10-03 17:26] stevehipwell commented on #518
@GabrielAmaral if you're using the chart to configure Nexus you need to either be using strict IaC or keep both systems in sync; I'm going to close the issue as I don't this this is a chart issue.

[2022-10-03 17:26] #518 closed

[2022-10-03 19:10] EugenMayer commented on #497
Upgraded just right now, worked without issues. So this once can be closed - i leave that one to you. Thank you for the effort!

[2022-10-03 19:17] #497 closed

[2022-11-06 20:16] jimmi4u opened #545 "RO file system"
Hi,
I'm trying to run your chart via helm and am getting an error, no matter which chart version I choose:
[code]

here are my values:
[code]
need some help please!
Thanks,
jim

[2022-11-07 12:05] stevehipwell commented on #545
Hey @jimmi4u it looks like you're trying to make the pod more secure through a custom `securityContext`, which I completely approve of but I'm not sure if it's possible. There is a reason why the chart defaults are what they are and not more secure by default (lack of documentation or engagement from Atlassian).

If you just want to make the root filesystem read only you might be able to make use

[2022-11-07 16:04] jimmi4u commented on #545
Hi @stevehipwell, thanks for your reply! Btw. the security settings used are the defaults. I played a bit with them because of that error. So with or without them the error still occurs. What is also interesting is that the helmrelease reconcilation is still in progress so this happens right at the beginning and the pod is going CrashLoopBackOff....
I'll play a bit with the secure settings and the

[2022-11-07 16:09] stevehipwell commented on #545
@jimmi4u are you sure you've not changed any of the security context settings? The chart is tested before releasing so it definitely runs, although your cluster may be configured differently to Kind (it should be) but I would expect the chart to work in most cases.

[2022-11-07 16:11] jimmi4u commented on #545
@stevehipwell this is my helmrelease:

apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: confluence
  namespace: confluence
spec:
  chart:
    spec:
      chart: confluence-server
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: confluence
        namespace: confluence
  interval: 168h # = 1w
  targetNamespace: confluence
  values:
    ser

[2022-11-07 16:41] stevehipwell commented on #545
@jimmi4u could you confirm that you're not setting anything for `securityContext`? I think there are some GH formatting issues. The error you're getting looks to be related to setting the user to non-root so it can't `chown` and switch to  the `confluence` user.

[2022-11-07 16:45] jimmi4u commented on #545
@stevehipwell yep, there is no secrutiyContext!

[2022-11-07 16:53] stevehipwell commented on #545
@jimmi4u what do you get as an output from `helm get values`? And could you share the `Deployment` config which results?

FYI if this is a new deployment I'd suggest setting `deployment` to `false` so you get a `StatefulSet`.

[2022-11-07 17:18] jimmi4u commented on #545
@stevehipwell I'm using flux with helm so I don't have helm installed. `Deployment` is not ready, becuase of the pod error. Here is his description:
 Name:               confluence-confluence-confluence-server

[2022-11-07 17:30] stevehipwell commented on #545
@jimmi4u that's not enough to go on, surely you can run `kubectl --namespace confluence get deployment confluence-confluence-confluence-server --output yaml`? You'd also probably be better off debugging this directly rather than through Flux.

[2022-11-07 17:49] jimmi4u commented on #545
yeah, your right:

[code]

thanks!

[2022-11-07 18:03] stevehipwell commented on #545
@jimmi4u last questions; what Kubernetes version, distro and addons for CRI, CNI & CSI?

[2022-11-07 18:16] jimmi4u commented on #545
k version --output=yaml

`clientVersion:
  buildDate: "2022-09-28T16:52:07Z"
  compiler: gc
  gitCommit: a8e0c66d1a90a2bbc4ffa975129ca35756cc7c14
  gitTreeState: clean
  gitVersion: v1.24.6+k3s1
  goVersion: go1.18.6
  major: "1"
  minor: "24"
  platform: linux/amd64
kustomizeVersion: v4.5.4
serverVersion:
  buildDate: "2022-09-28T16:52:07Z"
  compiler: gc
  gitCommit: a8e0c66d1a90a2bbc4ffa975129c

[2022-11-07 18:35] stevehipwell commented on #545
@jimmi4u I think it sounds like you've got the issue described in [kubernetes-sigs/nfs-subdir-external-provisioner#173](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/173).

[2022-11-07 20:58] jimmi4u commented on #545
@stevehipwell thanks for your help and for pointing me in the right direction. I realized, that I forgot to apply the pvc for confluence. Now I have it like this:
`apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: confluence
  name: confluence-pvc
  namespace: confluence
  annotations:
    nfs.io/createUID: "1000" # set folder uid as createUID on creation, not required, defau

[2022-11-07 21:41] jimmi4u commented on #545
I looked into the values.yaml of the official atlassian datacenter and they have a:

nfsPermissionFixer:

      # -- If 'true', this will alter the shared-home volume's root directory so that Confluence
      # can write to it. This is a workaround for a K8s bug affecting NFS volumes:
      # https://github.com/kubernetes/examples/issues/260
      #
      enabled: true

I tried also other confluen

[2022-11-08 06:59] stevehipwell commented on #545
@jimmi4u what does that flag do? If it's just a `chown` from an init container you can add that directly through the values.

[2022-11-08 10:35] jimmi4u commented on #545
I also think it's a chown. How can I add it to the values. how can I also add an umask?
so how do values from the official repo translate to this repo values? f.e. volumes.sharedHome.nfsPermissionFixer.enabled?
thanks!

[2022-11-08 11:54] jimmi4u commented on #545
@stevehipwell you're awesome! thanks so much!
I have troubles with the volumeMount. I tried to mount the pv from the pvc with its name, but helmrelease can't find it.
` warning: Upgrade "confluence-confluence" failed: failed to create resource: Deployment.apps "confluence-confluence-confluence-server" is invalid: spec.template.spec.initContainers[0].volumeMounts[0].name: Not found: "pvc-b9adf5e7-6

[2022-11-08 12:05] stevehipwell commented on #545
@jimmi4u it depends on the name you're using for the Helm deployment, looking above I think you'd need to use `confluence-confluence-server-data`; this isn't a PVC name/id it's the volume name.

FYI I assume you're setting the PVC you created externally in the chart values via `persistence.existingClaim`?

[2022-11-08 17:27] jimmi4u commented on #545
Hi @stevehipwell,
I already tried it with `confluence-confluence-server-data` but got the error so I tried with the pvc one....
How can I find out the correct volume's name?
You are right with the PVC setting...
Thanks so much for your time and affort!

[2022-11-08 19:42] jimmi4u commented on #545
hi, ok I got it!
but now with theis error:
[code]
I really checked everything, the nfs server setting, rights, mods, recreated pvcs, added new StorageClass... no luck...
All other pods are running as expected...

and here is my helmrelease:
[code]

[2022-11-08 19:47] stevehipwell commented on #545
It looks like you're hitting this issue (there are other threads on Google which you might also want to explore).

https://community.atlassian.com/t5/Confluence-questions/Confluence-docker-container-changes-permission-of-own-directory/qaq-p/1149841

[2022-11-08 20:07] jimmi4u commented on #545
@stevehipwell that did the trick! You're amazing! Thanks a lot!
But now I have to realize that I'm in the need of a license key... no way for personal use ... thought it was the old CE... what a pitty....

[2022-11-08 20:09] stevehipwell commented on #545
This is the community edition but I don't think you can get new licences anymore, paid or trial.

https://www.atlassian.com/migration/assess/journey-to-cloud

[2022-11-08 20:14] jimmi4u commented on #545
hmm, very sad...
But as mentionend before: thank you for your great support and your time! At least I have learned something ;)

[2022-11-08 20:16] stevehipwell commented on #545
You're welcome @jimmi4u, would you mind closing this issue?

[2022-11-08 20:17] #545 closed

[2022-11-12 08:11] naviat commented on #327
@dynamicat could you share your value sample for Github signing in? appreciate it!

[2022-11-21 15:55] Starslider opened #554 "Istio-Operator Helm Chart v2.8.0 - appVersion is wrong"
Hi Steve

looks like you have an old appVersion in your Chart.yaml - could that be?

[code]

it should be
appVersion: 1.16.0

Best Dominik

[2022-11-21 17:09] stevehipwell commented on #554
@Starslider it should be fixed now although I haven't been able to get the correct version showing in Artifact Hub.

[2022-11-21 17:23] Starslider commented on #554
did you push it to github? @stevehipwell

[2022-11-21 17:28] stevehipwell commented on #554
It's the same version, I manually patched it.

[2022-11-21 18:20] stevehipwell commented on #554
@Starslider could you let me know if it's working for you so I can either close this issue or look at an alternate fix?

[2022-11-21 18:30] Starslider commented on #554
@stevehipwell where did you fix it? [Chart.yaml](https://github.com/stevehipwell/helm-charts/commits/istio-operator-2.8.0/charts/istio-operator/Chart.yaml) was not updated?

[2022-11-21 18:32] #554 closed

[2022-11-21 18:32] stevehipwell commented on #554
@Starslider _Chart.yaml_ is how the release is generated but meaningless in the context of a released chart at the repo. I updated the release artifact and the chart repo index; I also confirmed that these changes showed up correctly on the Helm CLI.